{% extends 'base.html' %} {% block content %} {% load static %}

<div class="container">
    <div class="card document">
        <div class="card-header document__header">
            <i class="fa fa-file-text-o"></i>
            <h5 class="card-title document__title">&nbsp;고객사 현황</h5>
        </div>
        <div class="card-body">
            <p class="card-text">
                <table class="table table-striped table-bordered table-hover assets_table " id="sites_table">
                    <thead>
                        <tr>
                            <th>고객사</th>
                            <th>제품명</th>
                            <th>프로젝트 명</th>
                            <th>Presales</th>
                            <th>수행계획서</th>
                            <th>검 수</th>
                            <th>유지보수</th>
                            <th>진행여부</th>
                            <th>기 타</th>
                        </tr>
                    </thead>

                    {% for project in projects %}
                    <tr>
                        <td>{{ project.client }}</td>
                        <td>{{ project.product }}</td>
                        <td>{{ project.title }}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        {% for key, value in project.info.items %}
                        {% if key == "mn_cycle" %}
                        {% if value == "MON"%}
                        <td>매월</td>
                        {% elif value == "QUA"%}
                        <td>분기</td>
                        {% elif value == "HALF"%}
                        <td>반기</td>
                        {% else %}
                        <td>매년</td>
                        {% endif %}
                        {% endif %}
                        {% endfor %}


                        {% if project.status == "P" %}
                        <td>진행 중</td>
                        {% else %}
                        <td>진행 완료</td>
                        {% endif %}
                        <td>{{ project.comments }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </p>
        </div>
    </div>
</div>

{% endblock %} {% block title %} 고객사 현황 {% endblock %}
{% block css %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="{% static 'css/selectpicker/bootstrap-select.css' %}">

{% endblock %}
{% block js%}
<script src="{% static 'js/selectpicker/bootstrap-select.js' %}"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script src="{% static 'js/datatable/dataTable.js' %}"></script>
{% endblock %}