{% extends 'base.html' %} {% block content %} {% load static %}

<div class="container">
    <div class="card sites">
        <div class="card-header sites__header">
            <i class="fa fa-file-text-o"></i>
            <h5 class="card-title sites__title">&nbsp;문서 현황(테스트)</h5>
        </div>
        <div class="card-body">
            <p class="card-text">
                {% for item in posts %}
                {{item.project}}
                {% endfor %}

                {% if posts.has_previous %}
                <a href="?page=1"></a>
                {% endif %}
        </div>
    </div>
</div>

{% endblock %} {% block title %} 문서 현황 {% endblock %}
{% block css %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="{% static 'css/selectpicker/bootstrap-select.css' %}">

{% endblock %}
{% block js%}
<script src="{% static 'js/sites/tooltip.js' %}"></script>
<script src="{% static 'js/selectpicker/bootstrap-select.js' %}"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script src="{% static 'js/datatable/dataTable.js' %}"></script>
{% endblock %}