{% extends 'base.html' %} {% block content %} {% load static %} {% load common_tags %}

<div class="container">
    <div class="card sites">
        <div class="card-header sites__header">
            <i class="fa fa-external-link"></i>
            <h5 class="card-title sites__title" id="sites__title">&nbsp; {{ project.title }} 세부사항</h5>
        </div>
        <div class="card-body">
            <form class="sites__detail" method="POST" id="ajaxForm" onsubmit="return checkValues()"
                action="/sites/edit/{{ project.id }}/">{% csrf_token %}
                <div class="sites__contents form-row">
                    <div class="form-group col-md-12">
                        <div class="form-group">
                            <label>프로젝트 명</label>
                            <input type="text" name="project_name" id="project_name" class="form-control"
                                placeholder="ex) 한국철도 연성망 구축" autocomplete="off" value="{{ project.title }}">
                        </div>
                        <div class="form-group">
                            <label>고객사</label>
                            {{ project_form.client }}
                            <input type="hidden" value="{{ project.client_id }}" name="client_id">
                        </div>
                        <div class="form-group">
                            <label>제조사</label>
                            <select class="selectpicker" title="제품 선택" id="product" name="product"
                                data-live-search="true">
                                {% with current_makers='' %}
                                {% for product in products %}
                                {% if product.level == 0 %}
                                {% assign_value product.makers as current_makers %}
                                <optgroup label="{{product.makers}}">
                                    {% endif %}
                                    <option value="{{product.id}}" data-tokens="{{product.makers}}">{{product.name}}
                                    </option>
                                    {% if current_makers != product.makers %}
                                </optgroup>
                                {% endif %}
                                {% endfor %}
                                {% endwith %}
                            </select>
                            <input type="hidden" value="{{ project.product_id }}" name="product_id">
                        </div>
                        <div class="form-group">
                            <label>진행 상태</label>
                            <select class="selectpicker" name="status" title="진행 상태 여부" id="status">
                                {% if project.status == "P"%}
                                <option value="P" selected>진행 중</option>
                                <option value="C">진행 완료</option>
                                {% else %}
                                <option value="P">진행 중</option>
                                <option value="C" selected>진행 완료</option>
                                {% endif %}
                            </select>
                        </div>
                        {% for key, value in project.info.items %}
                        {% if key == "sales" %}
                        <div class="form-group">
                            <label>담당영업</label>
                            {{ asset_form.member_name }}
                            <input type="hidden" value="{{ value }}" name="sales_id">
                        </div>
                        {% endif %}
                        {% endfor %}

                        {% for key, value in project.info.items %}
                        {% if key == "eng" %}
                        <div class="form-group">
                            <label>담당 엔지니어</label>
                            {{ asset_form.member_name }}
                            <input type="hidden" value="{{ value }}" name="eng_id">
                        </div>
                        {% endif %}
                        {% endfor %}

                        {% for key, value in project.info.items %}
                        {% if key == "started_at" %}
                        <div class="form-group ">
                            <label>시작일</label>
                            <input type="text" name="purchase_date" id="pjStDate"
                                class="form-control calendar__start hasDatepicker" autocomplete="off"
                                id="asset_purchase-date" data-provide="datepicker" placeholder="&#xf073;"
                                value="{{value}}">
                        </div>
                        {% endif %}
                        {% endfor %}

                        {% for key, value in project.info.items %}
                        {% if key == "ended_at" %}
                        <div class="form-group ">
                            <label>종료 예정일</label>
                            <input type="text" name="purchase_date" id="pjStDate"
                                class="form-control calendar__start hasDatepicker" autocomplete="off"
                                id="asset_purchase-date" data-provide="datepicker" placeholder="&#xf073;"
                                value="{{value}}">
                        </div>
                        {% endif %}
                        {% endfor %}

                        {% for key, value in project.info.items %}
                        {% if key == "mn_cycle" %}
                        <div class="form-group ">
                            <label>유지보수 주기</label>
                            <select class="selectpicker" name="cycle" title="유지보수 주기 선택" id="cycle">
                                {% if value == "MON" %}
                                <option value="MON" selected>매월</option>
                                <option value="QUA">분기</option>
                                <option value="HALF">반기</option>
                                <option value="YEAR">매년</option>
                                {% elif value == "QUA" %}
                                <option value="MON">매월</option>
                                <option value="QUA" selected>분기</option>
                                <option value="HALF">반기</option>
                                <option value="YEAR">매년</option>
                                {% elif value == "HALF" %}
                                <option value="MON">매월</option>
                                <option value="QUA">분기</option>
                                <option value="HALF" selected>반기</option>
                                <option value="YEAR">매년</option>
                                {% elif value == "YEAR" %}
                                <option value="MON">매월</option>
                                <option value="QUA">분기</option>
                                <option value="HALF">반기</option>
                                <option value="YEAR" selected>매년</option>
                                {% endif %}
                            </select>
                        </div>
                        {% endif %}
                        {% endfor %}

                        {% for key, value in project.info.items %}
                        {% if key == "mnstarted_at" %}
                        <div class="form-group ">
                            <label>유지보수 시작일</label>
                            <input type="text" name="purchase_date" id="mnStDate"
                                class="form-control calendar__start hasDatepicker" autocomplete="off"
                                id="asset_purchase-date" data-provide="datepicker" placeholder="&#xf073;"
                                value={{value}}>
                        </div>
                        {% endif %}
                        {% endfor %}

                        {% for key, value in project.info.items %}
                        {% if key == "mnended_at" %}
                        <div class="form-group ">
                            <label>유지보수 종료일</label>
                            <input type="text" name="purchase_date" id="mnStDate"
                                class="form-control calendar__start hasDatepicker" autocomplete="off"
                                id="asset_purchase-date" data-provide="datepicker" placeholder="&#xf073;"
                                value={{value}}>
                        </div>
                        {% endif %}
                        {% endfor %}

                        <div class="form-group">
                            <label>기 타 </label>
                            <textarea class="form-control col-sm-12" rows="5" id="sites_comments"
                                name="sites_comments">{{project.comments}}</textarea>
                        </div>

                    </div>
                </div>
                <div class="text-right submit-box">
                    <button type="button" class="btn btn-outline-danger" onclick="site_edit_cancel()">
                        취소
                    </button>
                    <button type="submit" class="btn btn-outline-secondary" id="submit-btn">
                        수정
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %} {% block title %} 고객사 현황 {% endblock %}
{% block css %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="{% static 'css/selectpicker/bootstrap-select.css' %}">
<link rel="stylesheet" href="{% static 'css/datepicker/datepicker3.css' %}">

{% endblock %}
{% block js%}
<script src="{% static 'js/sites/jquery.form.js' %}"></script>
<script src="{% static 'js/sites/detail.js' %}"></script>
<script src="{% static 'js/selectpicker/bootstrap-select.js' %}"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script src="{% static 'js/datatable/dataTable.js' %}"></script>
<script src="{% static 'js/datepicker/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'js/datepicker/bootstrap-datepicker.kr.js' %}"></script>
<script src="{% static 'js/datepicker/datepicker.js' %}"></script>
{% endblock %}