{% extends 'base.html' %} {% block content %} {% load static %}

<div class="container">
    <div class="card sites">
        <div class="card-header sites__header">
            <i class="fa fa-file-text-o"></i>
            <h5 class="card-title sites__title">&nbsp;문서 현황</h5>
        </div>
        <div class="card-body">
            <p class="card-text">
            <table class="table table-striped table-bordered table-hover assets_table " id="sites_table">
                <thead>
                    <tr>
                        <th>고객사</th>
                        <th>제품명</th>
                        <th>프로젝트 명</th>
                        <th>Presales</th>
                        <th>수행계획서</th>
                        <th>검 수</th>
                        <th>유지보수</th>
                        <th>기 타</th>
                    </tr>
                </thead>
                {% for project in projects %}
                <tr>
                    <td>
                        <a href="{% url 'sites_detail' pk=project.id %}">
                            {{ project.client }}
                        </a>
                    </td>
                    <td>{{ project.product }}</td>
                    <td>
                        {% if project.document_id == None %}
                        {{ project.title }}
                        {% else %}
                        <a href="{% url 'document_detail' project_id=project.id %}">{{ project.title }}</a>
                        {% endif %}
                    </td>

                    {% if project.PRE|length == 0 %}
                    <td>-</td>
                    {% else %}
                    <td>
                        <a href="#" title="Presales 파일 리스트" data-toggle="popover" data-trigger="focus"
                            data-placement="top" data-val="{{project.id}}" data-info="PRE"
                            data-document-id="{{project.document_id}}">
                            File list(+{{project.PRE.count}})</a><br>
                    </td>
                    {% endif %}

                    {% if project.PRO|length == 0 %}
                    <td>-</td>
                    {% else %}
                    <td>
                        <a href="#" title="수행계획서 파일 리스트" data-toggle="popover" data-trigger="focus" data-placement="top"
                            data-val="{{project.id}}" data-info="PRO" data-document-id="{{project.document_id}}">
                            File list(+{{project.PRO.count}})</a><br>
                    </td>
                    {% endif %}

                    {% if project.EXA|length == 0 %}
                    <td>-</td>
                    {% else %}
                    <td>
                        <a href="#" title="검수 파일 리스트" data-toggle="popover" data-trigger="focus" data-placement="top"
                            data-val="{{project.id}}" data-info="EXA" data-document-id="{{project.document_id}}">
                            File list(+{{project.EXA.count}})</a><br>
                    </td>
                    {% endif %}

                    {% if project.MAN|length == 0 %}
                    <td>-</td>
                    {% else %}
                    <td>
                        <a href="#" title="유지보수 파일 리스트" data-toggle="popover" data-trigger="focus" data-placement="top"
                            data-val="{{project.id}}" data-info="MAN" data-document-id="{{project.document_id}}">
                            File list(+{{project.MAN.count}})</a><br>
                    </td>
                    {% endif %}

                    {% if project.ETC|length == 0 %}
                    <td>-</td>
                    {% else %}
                    <td>
                        <a href="#" title="기타 파일 리스트" data-toggle="popover" data-trigger="focus" data-placement="top"
                            data-val="{{project.id}}" data-info="ETC" data-document-id="{{project.document_id}}">
                            File list(+{{project.ETC.count}}) </a><br>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock %} {% block title %} 문서 현황 {% endblock %}
{% block css %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="{% static 'css/selectpicker/bootstrap-select.css' %}">

{% endblock %}
{% block js%}
<script src="{% static 'js/sites/tooltip.js' %}"></script>
<script src="{% static 'js/selectpicker/bootstrap-select.js' %}"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script src="{% static 'js/datatable/dataTable.js' %}"></script>
{% endblock %}