{% extends 'base.html' %} {% block content %} {% load staticfiles %}

<div class="container media__768px">
  <div class="card contents">
    <div class="card-header content__header">
      <i class="fa fa-file-text-o"></i>
      <h5 class="card-title content__title">문서관리 현황</h5>
    </div>
    <div class="card-body col-md-12 test">
      <form class="content__status row">
        <div class="content__project col-md-6 project__card">
          <div class="card">
            <div class="card-header project__card-header">프로젝트</div>
            <div class="card-body project__card-body">
              <ul class="list-group list-group-flush project__lists">
                <li
                  class="list-group-item project__list d-flex flex-row justify-content-between align-items-center"
                >
                  <div class="project__list-contents">
                    <div class="project__list-info d-flex flex-row">
                      <div class="project__list-customer">신한금융투자증권</div>
                      <span class="project__badge badge-green">
                        Progressing
                      </span>
                    </div>

                    <div class="project__list-manager">By 정세욱 전임</div>
                  </div>
                  <div class="project__list-icons">
                    <button
                      class="border-0 btn-transition btn btn-outline-success"
                    >
                      <i class="fa fa-upload"></i>
                    </button>
                    <button
                      class="border-0 btn-transition btn btn-outline-danger"
                    >
                      <i class="fa fa-trash"></i>
                    </button>
                  </div>
                </li>
                <li
                  class="list-group-item project__list d-flex flex-row justify-content-between align-items-center"
                >
                  <div class="project__list-contents">
                    <div class="project__list-info d-flex flex-row">
                      <div class="project__list-customer">신한금융투자증권</div>
                      <span class="project__badge badge-blue">
                        New
                      </span>
                    </div>

                    <div class="project__list-manager">By 정세욱 전임</div>
                  </div>
                  <div class="project__list-icons">
                    <button
                      class="border-0 btn-transition btn btn-outline-success"
                    >
                      <i class="fa fa-upload"></i>
                    </button>
                    <button
                      class="border-0 btn-transition btn btn-outline-danger"
                    >
                      <i class="fa fa-trash"></i>
                    </button>
                  </div>
                </li>
                <li
                  class="list-group-item project__list d-flex flex-row justify-content-between align-items-center"
                >
                  <div class="project__list-contents">
                    <div class="project__list-info d-flex flex-row">
                      <div class="project__list-customer">신한금융투자증권</div>
                      <span class="project__badge badge-red">
                        Finished
                      </span>
                    </div>

                    <div class="project__list-manager">By 정세욱 전임</div>
                  </div>
                  <div class="project__list-icons">
                    <button
                      class="border-0 btn-transition btn btn-outline-success"
                    >
                      <i class="fa fa-upload"></i>
                    </button>
                    <button
                      class="border-0 btn-transition btn btn-outline-danger"
                    >
                      <i class="fa fa-trash"></i>
                    </button>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="content__project col-md-6 project__card">
          <div class="card">
            <div class="card-header project__card-header">유지보수</div>
            <div class="card-body project__card-body">
              <ul class="list-group list-group-flush project__lists">
                <li
                  class="list-group-item project__list d-flex flex-row justify-content-between align-items-center"
                >
                  <div class="project__list-contents">
                    <div class="project__list-info d-flex flex-row">
                      <div class="project__list-customer">신한금융투자증권</div>
                      <span class="project__badge badge-red">
                        Need Upload
                      </span>
                    </div>

                    <div class="project__list-manager">By 정세욱 전임</div>
                  </div>
                  <div class="project__list-icons">
                    <button
                      class="border-0 btn-transition btn btn-outline-success"
                    >
                      <i class="fa fa-upload"></i>
                    </button>
                    <button
                      class="border-0 btn-transition btn btn-outline-danger"
                    >
                      <i class="fa fa-trash"></i>
                    </button>
                  </div>
                </li>
                <li
                  class="list-group-item project__list d-flex flex-row justify-content-between align-items-center"
                >
                  <div class="project__list-contents">
                    <div class="project__list-info d-flex flex-row">
                      <div class="project__list-customer">신한금융투자증권</div>
                      <span class="project__badge badge-red">
                        Need Upload
                      </span>
                    </div>

                    <div class="project__list-manager">By 정세욱 전임</div>
                  </div>
                  <div class="project__list-icons">
                    <button
                      class="border-0 btn-transition btn btn-outline-success"
                    >
                      <i class="fa fa-upload"></i>
                    </button>
                    <button
                      class="border-0 btn-transition btn btn-outline-danger"
                    >
                      <i class="fa fa-trash"></i>
                    </button>
                  </div>
                </li>
                <li
                  class="list-group-item project__list d-flex flex-row justify-content-between align-items-center"
                >
                  <div class="project__list-contents">
                    <div class="project__list-info d-flex flex-row">
                      <div class="project__list-customer">신한금융투자증권</div>
                      <span class="project__badge badge-red">
                        Need Upload
                      </span>
                    </div>

                    <div class="project__list-manager">By 정세욱 전임</div>
                  </div>
                  <div class="project__list-icons">
                    <button
                      class="border-0 btn-transition btn btn-outline-success"
                    >
                      <i class="fa fa-upload"></i>
                    </button>
                    <button
                      class="border-0 btn-transition btn btn-outline-danger"
                    >
                      <i class="fa fa-trash"></i>
                    </button>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %} {% block title %} 자산관리 대여 {% endblock %}
