{% extends 'base.html' %} {% block content %} {% load static %}

<div class="container">
    <div class="card stock">
        <div class="card-header stock__header">
            <i class="fa fa-tasks"></i>
            <h5 class="card-title stock__title">&nbsp; [{{stock_mnfacture_name}} /
                {{stock_model_name}}] 반납 현황</h5>
            <span class="total-count">{{total_count}}</span>
        </div>
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <div class="form-group">
                        <div class="form-group stock-form">
                            <div class="card stock-contents">
                                <div class="card-body stock-lists">
                                    <h5 class="card-title text-right">{{stock_model_name}}</h5>
                                    <div class="stock-status-lists">
                                        <div id="stock-status" class="stock-status__keep keep">
                                            <div class="keep-title">재 고</div>
                                            <div class="keep-count"
                                                onclick="goToDetailPage(event, {{stock_product_model}}, `keep`)">
                                                {{stock_keep_count}}
                                            </div>
                                        </div>

                                        <div id="stock-status" class="stock-status__sold sold">
                                            <div class="sold-title">납 품</div>
                                            <div class="sold-count"
                                                onclick="goToDetailPage(event, {{stock_product_model}} ,`sold`)">
                                                {{stock_sold_count}}</div>
                                        </div>
                                        <div id="stock-status" class="stock-status__disposal disposal">
                                            <div class="disposal-title">폐 기</div>
                                            <div class="disposal-count"
                                                onclick="goToDetailPage(event, {{stock_product_model}} ,`disposal`)">
                                                {{stock_disposal_count}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <table class="table table-striped table-bordered table-hover assets_table " id="myTable1">
                            <thead>
                                <tr>
                                    <th>시리얼</th>
                                    <th>입고 일자</th>
                                    <th>반납 일자</th>
                                    <th>기 타</th>
                                </tr>
                            </thead>
                            {% for return in returns %}
                            <tr>
                                <td>{{ return.serial }}</td>
                                <td>{{ return.receive_date }}</td>
                                <td>{{ return.return_date }}</td>
                                <td>{{ return.comments }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %} {% block title %} 반납 현황 {% endblock %}
{% block css %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="{% static 'css/selectpicker/bootstrap-select.css' %}">
<link rel="stylesheet" href="{% static 'css/datepicker/datepicker3.css' %}">
<link rel="stylesheet" href="{% static 'css/equipment/stockDelivery.css' %}">
<link rel="stylesheet" href="{% static 'css/equipment/stockList.css' %}">

{% endblock %}

{% block js %}
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script src="{% static 'js/selectpicker/bootstrap-select.js' %}"></script>
<script src="{% static 'js/datepicker/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'js/datepicker/bootstrap-datepicker.kr.js' %}"></script>
<script src="{% static 'js/datepicker/datepicker.js' %}"></script>
<script src="{% static 'js/datatable/dataTable.js' %}"></script>
<script src="{% static 'js/equipment/stockGotoDetail.js' %}"></script>
{% endblock %}