{% extends 'base.html' %} {% block content %} {% load static %} {% load common_tags %}

<div class="container">
    <div class="card equipment">
        <div class="card-header equipment__header d-flex">
            <div class="mr-auto equipment__title">
                <i class="fa fa-external-link"></i>
                <h5 class="card-title">&nbsp;정보 조회</h5>
            </div>
            {% if request.session.member_dept in permission %}
            <div class="client__add">
                <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                    data-target="#exampleModalCenter"><i class="fa fa-plus"></i> 고객사 추가</button>
            </div>
            {% endif %}
        </div>

        <div class="card-body">
            <div class="equipment__contents form-row">
                <div class="form-group col-md-12">
                    <div class="form-group">
                        <input type="hidden" class="check-dup-client" value="">
                        {% csrf_token %}
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#client">고객사</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#mnfacture">제조사</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#product">제품명</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#model">모델명</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="client">
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="client-search"
                                        placeholder="&#xf002; 고객사 조회" onkeyup="clientSearchFunction()"
                                        autocomplete="off">
                                </div>
                                <ul class="list-group" id="clientUL">
                                    {% for item in client %}
                                    <li class="list-group-item">{{item.name}}
                                        <p class="similar-word">
                                            {% for item in item.similar_word.similar %}
                                            {{item}}
                                            {% endfor %}
                                        </p>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="tab-pane fade" id="mnfacture">
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="mnfacture-search"
                                        placeholder="&#xf002; 제조사 조회" onkeyup="mnfactureSearchFunction()"
                                        autocomplete="off">
                                </div>

                                <ul class="list-group" id="mnfactureUL">
                                    {% for item in mnfacture %}
                                    <li class="list-group-item">{{item.manafacture}}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="tab-pane fade" id="product">
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="product-search"
                                        placeholder="&#xf002; 제품명 조회" onkeyup="productSearchFunction()"
                                        autocomplete="off">
                                </div>
                                <ul class="list-group" id="productUL">
                                    {% for item in product %}
                                    <li class="list-group-item">{{item.name}}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="tab-pane fade" id="model">
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="product-model-search"
                                        placeholder="&#xf002; 모델명 조회" onkeyup="productModelSearchFunction()"
                                        autocomplete="off">
                                </div>
                                <ul class="list-group" id="productModelUL">
                                    {% for item in product_model %}
                                    <li class="list-group-item">{{item.name}}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">고객사 등록 메뉴</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="client__add">
                    <div class="client__search">
                        <input type="text" class="form-control" id="client__search-field" placeholder="&#xf002; 고객사 검색"
                            autocomplete="off">
                    </div>
                    <div class="client__search">
                        <button type="button" class="btn btn-outline-info" id="client__search-submit"
                            onclick="checkDupClient()">중복 확인</button>
                    </div>
                </div>
                <div class="client__search-comments">
                    <small>
                        <strong>
                            <p>🔎 고객사 검색 방법</p>
                        </strong>
                        <p>1. 키워드 검색 -> "삼성" 또는 "Samsung" 검색</p>
                        <p>2. Full Name 검색 -> "삼성디스플레이" 검색</p>
                    </small>
                </div>
                <div class="client__contents contents">
                    <div class="contents__comments">
                        <div class="alert " role="alert">
                        </div>
                    </div>
                    <div class="contents__similar-comment">
                    </div>
                    <div class="contents__similar-list">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                <button type="button" class="btn btn-primary" onclick="checkValue()">등록</button>
            </div>
        </div>
    </div>
</div>


{% endblock %} {% block title %} 정보 조회 {% endblock %}
{% block css %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="{% static 'css/equipment.css' %}">
{% endblock %}

{% block js %}
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script src="{% static 'js/equipment/info.js' %}"></script>
<script src="{% static 'js/datatable/dataTable.js' %}"></script>
{% endblock %}