{% extends 'base.html' %} {% block content %} {% load static %} {% load common_tags %}

<div class="container">
    <div class="card equipment">
        <div class="card-header document__header">
            <i class="fa fa-external-link"></i>
            <h5 class="card-title equipment__title">&nbsp;정보 조회</h5>
        </div>
        <div class="card-body">
            <div class="equipment__contents form-row">
                <div class="form-group col-md-12">
                    <div class="form-group">

                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#client">고객사</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#mnfacture">제조사</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#product">제품명</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#model">모델명</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="client">
                                <input type="text" class="form-control" id="client-search" placeholder="&#xf002; 고객사 조회"
                                    onkeyup="clientSearchFunction()" autocomplete="off">
                                <ul class="list-group" id="clientUL">
                                    {% for item in client %}
                                    <li class="list-group-item">{{item.name}}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="tab-pane fade" id="mnfacture">
                                <input type="text" class="form-control" id="mnfacture-search"
                                    placeholder="&#xf002; 제조사 조회" onkeyup="mnfactureSearchFunction()"
                                    autocomplete="off">
                                <ul class="list-group" id="mnfactureUL">
                                    {% for item in mnfacture %}
                                    <li class="list-group-item">{{item.manafacture}}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="tab-pane fade" id="product">
                                <input type="text" class="form-control" id="product-search"
                                    placeholder="&#xf002; 제품명 조회" onkeyup="productSearchFunction()" autocomplete="off">
                                <ul class="list-group" id="productUL">
                                    {% for item in product %}
                                    <li class="list-group-item">{{item.name}}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="tab-pane fade" id="model">
                                <input type="text" class="form-control" id="product-model-search"
                                    placeholder="&#xf002; 제품명 조회" onkeyup="productModelSearchFunction()"
                                    autocomplete="off">
                                <ul class="list-group" id="productModelUL">
                                    {% for item in product_model %}
                                    <li class="list-group-item">{{item.name}}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


{% endblock %} {% block title %} 정보 조회 {% endblock %}
{% block css %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="{% static 'css/equipment.css' %}">
{% endblock %}

{% block js %}
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script src="{% static 'js/equipment/info.js' %}"></script>
<script src="{% static 'js/datatable/dataTable.js' %}"></script>
{% endblock %}