{% extends 'base.html' %} {% block content %} {% load static %} {% load common_tags %}
<div class="container">
    <div class="card sites">
        <div class="card-header sites__header">
            <i class="fa fa-tasks"></i>
            <h5 class="card-title sites__title">&nbsp;제품 등록</h5>
        </div>
        <div class="card-body">
            <form class="equipment__form" name="ajaxForm" id="ajaxForm" method="POST"
                action="{% url 'equipment_form_apply' %}">
                {% csrf_token %}
                <div class="equipment__contents form-row">
                    <div class="form-group col-md-12">
                        <div class="form-group">
                            <label>고객사 </label>
                            {{ equipment_form.client }}
                        </div>
                        <div class="form-group">
                            <label>제조사</label>
                            {{ equipment_form.mnfacture }}
                        </div>
                        <div class="form-group">
                            <label>제품명</label>
                            <select class="selectpicker" title="제품 선택" id="product_id" name="product_id"
                                data-live-search="true">
                                {% with current_makers='' %}
                                {% for product in products %}
                                {% if product.level == 0 %}
                                {% assign_value product.makers as current_makers %}
                                <optgroup label="{{product.makers}}">
                                    {% endif %}
                                    <option value="{{product.id}}" data-tokens="{{product.makers}}">{{product.name}}
                                    </option>
                                    {% if current_makers != product.makers %}
                                </optgroup>
                                {% endif %}
                                {% endfor %}
                                {% endwith %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label>모델명</label>
                            {{ equipment_form.product_model }}
                        </div>
                        <div class="form-group">
                            <label>시리얼 </label>
                            <input type="text" class="form-control" id="serial" autocomplete="off" name="serial">
                        </div>
                        <div class="form-group">
                            <label>담당 엔지니어</label>
                            <input type="text" class="form-control" id="manager" autocomplete="off" name="manager">
                        </div>
                        <div class="form-group ">
                            <label>설치장소</label>
                            <input type="text" class="form-control" id="location" autocomplete="off" name="location">
                        </div>
                        <div class="form-group ">
                            <label>설치 일자</label>
                            <input type="text" name="install-date" id="equipment-install-date"
                                class="form-control calendar__start hasDatepicker" autocomplete="off"
                                data-provide="datepicker" placeholder="&#xf073;">
                        </div>
                        <div class="form-group">
                            <label>기 타</label>
                            <textarea class="form-control col-sm-12" rows="5" id="comments" name="comments"></textarea>
                        </div>
                    </div>
                </div>
                <div class="text-right submit-box">
                    <button type="button" class="btn btn-outline-danger" onclick="site_add_cancel()">
                        취소
                    </button>
                    <button type="submit" class="btn btn-outline-secondary" id="submit-btn">
                        등록
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %} {% block title %} 제품 등록 {% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/selectpicker/bootstrap-select.css' %}">
<link rel="stylesheet" href="{% static 'css/datepicker/datepicker3.css' %}">
{% endblock %}

{% block js %}
<script src="{% static 'js/selectpicker/bootstrap-select.js' %}"></script>
<script src="{% static 'js/datepicker/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'js/datepicker/bootstrap-datepicker.kr.js' %}"></script>
<script src="{% static 'js/datepicker/datepicker.js' %}"></script>
<script src="{% static 'js/equipment/formUpload.js' %}"></script>
<script src="{% static 'js/sites/jquery.form.js' %}"></script>
{% endblock %}