{% extends 'base.html' %} {% block content %} {% load static %}

<div class="container">
    <div class="card equipment">
        <div class="card-header equipment__header">
            <i class="fa fa-external-link"></i>
            <h5 class="card-title equipment__title">&nbsp;납품 현황</h5>
        </div>
        <div class="card-body">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-12 equipment__contents">
                    <div class="form-group contents__select">
                        <div class="select-client">
                            <span>고객사 선택</span>
                            {{equipment_form.client}}
                        </div>
                        <div class="select-mnfacture">
                            <span>제조사 선택</span>
                            <select class="selectpicker" id='mnfacture' data-live-search="true" data-container="body"
                                disabled>
                                <option>고객사를 선택하세요</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group contents__header">
                        <div class="header header__client-name"></div>
                    </div>
                    <div class="form-group contents__content">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %} {% block title %} 납품 현황 {% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/selectpicker/bootstrap-select.css' %}">
<link rel="stylesheet" href="{% static 'css/equipment/equipmentMain.css' %}">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
{% endblock %}

{% block js %}
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script src="{% static 'js/datatable/dataTable.js' %}"></script>
<script src="{% static 'js/equipment/equipmentMain.js' %}"></script>
<script src="{% static 'js/selectpicker/bootstrap-select.js' %}"></script>
{% endblock %}