{% extends 'base.html' %} {% block content %} {% load static %}
<div class="container">
    <div class="card equipment">
        <div class="card-header document__header">
            <i class="fa fa-external-link"></i>
            <h5 class="card-title equipment__title">&nbsp;운영제품 등록 (Excel)</h5>
        </div>
        <div class="card-body">
            <div class="equipment__contents form-row">
                <div class="form-group col-md-12">
                    <form class="equipment__add" name="uploadform" id="uploadform" method="POST"
                        enctype="multipart/form-data" action="{% url 'equipment_upload_check' %}">
                        {% csrf_token %}
                        <div class="form-group file-upload">
                            <input class="upload-name" disabled="disabled">
                            <label for="uploadfile">파일선택</label>
                            <button type="button" class="btn btn-outline-primary" onclick="checkSubmit();">제품
                                업로드</button> (일정형식의 엑셀파일만 가능)
                            <input type="file" class="upload-hidden" name="uploadfile" id="uploadfile"
                                onchange="checkFileExt(this);"
                                accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                        </div>
                    </form>
                    <div class="form-group">
                        <table class="table table-striped table-bordered table-hover assets_table">
                            <thead>
                                <tr>
                                    <th>고객사</th>
                                    <th>제조사</th>
                                    <th>제품명</th>
                                    <th>모델명</th>
                                    <th>시리얼</th>
                                    <th>설치장소</th>
                                    <th>설치일자</th>
                                    <th>설치인원</th>
                                    <th>기 타</th>
                                </tr>
                            </thead>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %} {% block title %} 고객사 운용제품현황 {% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/equipment.css' %}">
{% endblock %}

{% block js %}
<script src="{% static 'js/equipment/upload.js' %}"></script>
<script src="{% static 'js/sites/jquery.form.js' %}"></script>
{% endblock %}