{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title></title>
  <link rel="stylesheet" href="{% static 'css/login.css' %}" />
  <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.css' %}" />
  <link rel="stylesheet" href="{% static 'css/fontAwesome/font-awesome.css' %}">
</head>

<body class="body">
  <form class="login__content container login-size">
    {% csrf_token %}
    <div class="login__form">
      <div class="login__top">
      </div>
      <div class="login__bottom">
        <div class="login__contents">
          {% if message == '' %}
          <div class="login__header">
            <h1>LOGIN</h1>
            <span>Welcome back</span>
          </div>
          {% else %}
          <div class="login__header">
            <h1>LOGIN</h1>
            <span style="color:red; font-weight: bold;">{{ message }}</span>
          </div>
          {% endif %}
          <div class="login__main">
            <div class="login__id">
              <div class="login__icon">
                <i class="fa fa-user"></i>
              </div>
              <input type="text" id="memberId" name="member_id" placeholder="아이디입력" autofocus required />
            </div>
            <div class="login__pw">
              <i class="fa fa-lock"></i>
              <input type="password" id="memberPw" name="member_pw" placeholder="패스워드입력" required />
            </div>
            <button type="submit" class="btn btn-primary" id="login_btn" onclick="authCheck(event)">Login</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script trype="text/javascript" src="{% static 'js/bootstrap/jquery-3.4.1.min.js' %}"></script>
  <script trype="text/javascript" src="{% static 'js/bootstrap/bootstrap.js' %}"></script>
  <script trype="text/javascript" src="{% static 'js/login/login.js' %}"></script>
</body>

</html>