{% extends 'base.html' %} {% block content%} {% load static %}
<div class="container">
  <div class="card assets">
    <div class="card-header assets-header">
      <i class="fa fa-desktop"></i>
      <h5 class="card-title assets-header__title">자산 현황</h5>
    </div>
    <div class="card-body">
      <p class="card-text">
        <table class="table table-striped table-bordered table-hover assets_table" id="myTable">
          <thead>
            <tr>
              <th>소유자</th>
              <th>제조사 및 모델명</th>
              <th>시리얼</th>
              <th>메모리</th>
              <th>저장소</th>
              <th>CPU</th>
              <th>위치</th>
              <th>상태</th>
              <th>기타</th>
            </tr>
          </thead>
          {% for asset in assets %}
          <tr>
            <td>{{ asset.member_name }}</td>
            <td>{{ asset.mnfacture }} ({{ asset.model }})</td>
            <td>{{ asset.serial }}</td>
            <td>{{ asset.memory }}</td>
            <td>{{ asset.harddisk }}</td>
            <td>{{ asset.cpu }}</td>
            <td>{{ asset.is_where }}</td>

            {% if asset.is_state == 1 %}
            <td>개인사용</td>
            {% elif asset.is_state == 2 %}
            <td>테스트</td>
            {% elif asset.is_state == 3 %}
            <td>대여중</td>
            {% elif asset.is_state == 4 %}
            <td>폐기</td>
            {% elif asset.is_state == 5 %}
            <td>보관중</td>
            {% endif %}
            {% if asset.comments is None %}
            <td></td>
            {% else %}
            <td>{{ asset.comments }}</td>
            {% endif %}

          </tr>
          {% endfor %}
        </table>
      </p>
    </div>
  </div>
</div>

{% endblock content %} {% block title %} 자산 현황 {% endblock %}

{% block css %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
{% endblock %}

{% block js %}
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script src="{% static 'js/datatable/dataTable.js' %}"></script>{% endblock %}