{% extends 'base.html' %} {% block content %} {% load static %}

<div class="container permission">
    <div class="permission__contents contents">
        <div class="contents-icon">
            <i class="fa fa-user-times"></i>
        </div>
        <div class="contents-comment">
            <h2>Permission Denied</h2>
            <h6>접속하신 유저는 현재 메뉴에 대해서 권한이 없습니다. 관리자에게 문의하세요</h6>
        </div>
        <div class="contents-button">
            <button type="button" class="btn btn-outline-primary" id="home-button" onclick="redirectHome();"><i
                    class="fa fa-home"></i> 돌아가기</button>

        </div>
    </div>
</div>


{% endblock %} {% block title %} 메뉴 권한없음 {% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/common.css' %}">
{% endblock %}

{% block js %}
<script src="{% static 'js/common/common.js' %}"></script>
{% endblock %}