{% extends 'base.html' %} {% block content %} {% load staticfiles %}

<div class="container ">
  <div class="card assets">
    <div class="card-header assets-header">
      <i class="fa fa-pencil-square-o"></i>
      <h5 class="card-title assets-header__title">자산 등록</h5>
    </div>
    <div class="card-body">
      <form class="rental__form">
        <div class="rental__content form-row">
          <div class="form-group col-md-7">
            <div class="form-group">
              <label>대여자</label>
              <select class="selectpicker divier__none" title="대여자 선택">
                <optgroup label="연구소">
                  <option>주만석 소장</option>
                  <option>윤지수 책임</option>
                  <option>정세욱 전임</option>
                </optgroup>
                <optgroup label="기술본부">
                  <option>임덕명 차장</option>
                  <option>장경원 차장</option>
                </optgroup>
              </select>
            </div>
            <div class="form-group">
              <label>제조사</label>
              <select class="selectpicker" title="제조사 선택">
                <option>LG</option>
                <option>ASUS</option>
                <option>HP</option>
                <option>Apple</option>
              </select>
            </div>

            <div class="form-group">
              <label>CPU</label>
              <input
                class="form-control"
                type="text"
                placeholder="intel(R) Core(TM) i5-8250U CPU @ 1.6Ghz 1.80GHz"
              />
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label>메모리</label>
                <input class="form-control" type="text" placeholder="16G" />
              </div>
              <div class="form-group col-md-6">
                <label>디스크</label>
                <input class="form-control" type="text" placeholder="256GB" />
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label>모델명</label>
                <input
                  class="form-control"
                  type="text"
                  placeholder="ZenBook-UX362FA_UX362FA
                  "
                />
              </div>
              <div class="form-group col-md-6">
                <label>운영체제</label>
                <input
                  class="form-control"
                  type="text"
                  placeholder="Windows 10"
                />
              </div>
            </div>
          </div>

          <div class="form-group col-md-5">
            <div class="form-group">
              <label>사용장소</label>
              <input
                type="text"
                class="form-control"
                placeholder="ex) 남부팀, 본사, 원주(인터넷망), 원주(업무망)"
              />
            </div>

            <div class="form-group">
              <label>사용목적</label>
              <input
                type="text"
                class="form-control"
                placeholder="ex) 정책 테스트로 인한 노트북 불출"
              />
            </div>

            <div class="form-group">
              <label>구매 날짜</label>
              <input
                type="text"
                id="datepicker1"
                class="form-control calendar__start"
                placeholder="&#xf271;"
                autocomplete="off"
              />
            </div>

            <div class="form-group">
              <label>기 타</label>
              <textarea class="form-control col-sm-12" rows="5"></textarea>
            </div>
          </div>
        </div>

        <div class="text-right submit-box">
          <button type="button" class="btn btn-outline-danger">
            취소
          </button>
          <button type="submit" class="btn btn-outline-secondary btn-submit">
            신청하기
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %} {% block title %} 자산관리 대여 {% endblock %}
