.file-form label {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #212529;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  cursor: pointer;
  width: 100px;
  margin-right: 2px;
}

.file-form input {
  display: none;
}

.document__add.form-group table th:first-child {
  width: 10px;
  text-align: left;
}

.document__add.form-group table th:nth-child(2) {
  width: 50%;
  text-align: left;
}

.document__add.form-group table th:last-child {
  text-align: right;
}

#mnStDate,
#mnEdDate {
  font-family: FontAwesome;
}
