.project {
  background-color: yellow !important;
}

.card__content {
  background-color: red;
}

.list-group-flush:first-child .list-group-item:first-child {
  border-top: 1px solid #dcdcdd !important;
}

.list-group-flush:last-child .list-group-item:last-child {
  border-bottom: 1px solid #dcdcdd !important;
}

.card .project__card-body {
  padding: 0px !important;
}

.project__list-customer {
  font-size: 18px;
}

.project__list-info .project__badge {
  color: white;
  font-weight: 700;
  font-size: 12px;
  border-radius: 0.25em;
  line-height: 1.2;
  height: 15px;
  padding: 0px 5px;
  margin-top: 3px;
}

.project__badge.badge-blue {
  background-color: #17a2b8;
}

.project__badge.badge-green {
  background-color: #27ae60;
}

.project__badge.badge-red {
  background-color: #dc3545;
}

.project__list-icons .btn-outline-success {
  color: #636e72;
}

.project__list-icons .btn-outline-success:hover {
  background-color: #636e72;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px !important;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px !important;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px !important;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px !important;
  }
  /* .test .content__status {
    background-color: red;
    display: flex !important;
    flex-direction: column !important;
  } */
}
