{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/assets.css' %}" />
  <link rel="stylesheet" href="{% static 'css/sites.css' %}" />
  <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.css' %}" />
  <link rel="stylesheet" href="{% static 'css/fontAwesome/font-awesome.css' %}">
  {% block css %} {% endblock %}
</head>

<body class="body">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark bar">
    <a class="navbar-brand mb-0 h1 glow-brand" href="{% url 'assets_main' %}">
      GWSYSTEM
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            자산관리
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'assets_main' %}">
              자산 현황
            </a>
            <a class="dropdown-item" href="{% url 'assets_status' %}">
              대여신청 및 현황
            </a>

            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'assets_add' %}">
              자산 등록
            </a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            문서관리
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'sites_main' %}">문서 현황</a>
            <!-- <a class="dropdown-item" href="{% url 'sites_main_test' %}">문서 현황(테스트)</a> -->
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'sites_add' %}">고객사 등록</a>
            <a class="dropdown-item" href="{% url 'document_upload' %}">문서 등록</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            납품 관리
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'equipment_main' %}">납품 현황</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'equipment_form' %}">납품 등록</a>
            <a class="dropdown-item" href="{% url 'equipment_upload' %}">납품 등록(대량)</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'equipment_test' %}">납품 테스트 페이지</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            재고 관리
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'equipment_stock' %}">재고 현황</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'equipment_stock_form' %}">재고 등록</a>
            <a class="dropdown-item" href="{% url 'equipment_stock_upload' %}">재고 등록(대량)</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            정보 조회
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'equipment_info' %}">정보 조회</a>
          </div>
        </li>

        {% if request.session.member_dept in permission %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            주간업무보고
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'weekly_main' %}">주간업무보고 현황</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'weekly_add' %}">주간업무보고 신규 등록</a>
          </div>
        </li>
        {% endif %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            개인
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'member_password' %}">비밀번호 변경</a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav navbar-right">
        <li class="nav-item profile">
          <a href="#" class="text-reset text-decoration-none profile-link">
            {{request.session.member_name}} / {{request.session.member_rank}} / {{request.session.member_dept}}
          </a>
          <a href="{% url 'logout' %}">
            <button type="button" class="btn btn-outline-light ">
              로그아웃
            </button>
          </a>
        </li>
      </ul>
    </div>
  </nav>

  {% block content %} {% endblock %}
  {% block login %} {% endblock %}
  <script trype="text/javascript" src="{% static 'js/bootstrap/jquery-3.4.1.min.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script trype="text/javascript" src="{% static 'js/bootstrap/bootstrap.js' %}"></script>
  {% block js %} {% endblock %}
</body>

</html>