{% extends 'base.html' %} {% block content %} {% load static %}

<div class="container">
  <div class="card document">
    <div class="card-header document__header">
      <i class="fa fa-file-text-o"></i>
      <h5 class="card-title document__title">문서관리 현황</h5>
    </div>
    <div class="card-body col-md-12">
      <form class="document__status row">
        <div class="content__project col-md-6 project__card">
          <div class="card">
            <div class="card-header project__card-header">프로젝트</div>
            <div class="card-body project__card-body">
              <ul class="list-group list-group-flush project__lists">
                <li class="list-group-item project__list d-flex flex-row justify-content-between align-items-center">
                  <div class="project__list-contents">
                    <div class="project__list-info d-flex flex-row">
                      <div class="project__list-customer">신한금융투자증권</div>
                      <span class="project__badge badge-green">
                        Progressing
                      </span>
                    </div>

                    <div class="project__list-manager">By 정세욱 전임</div>
                  </div>
                  <div class="project__list-icons">
                    <button class="border-0 btn-transition btn btn-outline-success">
                      <i class="fa fa-upload"></i>
                    </button>
                    <button class="border-0 btn-transition btn btn-outline-danger">
                      <i class="fa fa-trash"></i>
                    </button>
                  </div>
                </li>
                <li class="list-group-item project__list d-flex flex-row justify-content-between align-items-center">
                  <div class="project__list-contents">
                    <div class="project__list-info d-flex flex-row">
                      <div class="project__list-customer">신한금융투자증권</div>
                      <span class="project__badge badge-blue">
                        New
                      </span>
                    </div>

                    <div class="project__list-manager">By 정세욱 전임</div>
                  </div>
                  <div class="project__list-icons">
                    <button class="border-0 btn-transition btn btn-outline-success" type="file">
                      <i class="fa fa-upload"></i>
                    </button>
                    <button class="border-0 btn-transition btn btn-outline-danger">
                      <i class="fa fa-trash"></i>
                    </button>
                  </div>
                </li>
                <li class="list-group-item project__list d-flex flex-row justify-content-between align-items-center">
                  <div class="project__list-contents">
                    <div class="project__list-info d-flex flex-row">
                      <div class="project__list-customer">신한금융투자증권</div>
                      <span class="project__badge badge-red">
                        Finished
                      </span>
                    </div>

                    <div class="project__list-manager">By 정세욱 전임</div>
                  </div>
                  <div class="project__list-icons">
                    <button class="border-0 btn-transition btn btn-outline-success">
                      <i class="fa fa-upload"></i>
                    </button>
                    <button class="border-0 btn-transition btn btn-outline-danger">
                      <i class="fa fa-trash"></i>
                    </button>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="content__project col-md-6 project__card">
          <div class="card">
            <div class="card-header project__card-header">유지보수</div>
            <div class="card-body project__card-body">
              <ul class="list-group list-group-flush project__lists">
                <li class="list-group-item project__list d-flex flex-row justify-content-between align-items-center">
                  <div class="project__list-contents">
                    <div class="project__list-info d-flex flex-row">
                      <div class="project__list-customer">신한금융투자증권</div>
                      <span class="project__badge badge-red">
                        Need Upload
                      </span>
                    </div>

                    <div class="project__list-manager">By 정세욱 전임</div>
                  </div>
                  <div class="project__list-icons">
                    <button class="border-0 btn-transition btn btn-outline-success">
                      <i class="fa fa-upload"></i>
                    </button>
                    <button class="border-0 btn-transition btn btn-outline-danger">
                      <i class="fa fa-trash"></i>
                    </button>
                  </div>
                </li>
                <li class="list-group-item project__list d-flex flex-row justify-content-between align-items-center">
                  <div class="project__list-contents">
                    <div class="project__list-info d-flex flex-row">
                      <div class="project__list-customer">신한금융투자증권</div>
                      <span class="project__badge badge-red">
                        Need Upload
                      </span>
                    </div>

                    <div class="project__list-manager">By 정세욱 전임</div>
                  </div>
                  <div class="project__list-icons">
                    <button class="border-0 btn-transition btn btn-outline-success">
                      <i class="fa fa-upload"></i>
                    </button>
                    <button class="border-0 btn-transition btn btn-outline-danger">
                      <i class="fa fa-trash"></i>
                    </button>
                  </div>
                </li>
                <li class="list-group-item project__list d-flex flex-row justify-content-between align-items-center">
                  <div class="project__list-contents">
                    <div class="project__list-info d-flex flex-row">
                      <div class="project__list-customer">신한금융투자증권</div>
                      <span class="project__badge badge-red">
                        Need Upload
                      </span>
                    </div>

                    <div class="project__list-manager">By 정세욱 전임</div>
                  </div>
                  <div class="project__list-icons">
                    <button class="border-0 btn-transition btn btn-outline-success">
                      <i class="fa fa-upload"></i>
                    </button>
                    <button class="border-0 btn-transition btn btn-outline-danger">
                      <i class="fa fa-trash"></i>
                    </button>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="content__project col-md-12">
          <hr />
        </div>
        <div class="content__project col-md-6 project__card">
          <div class="card">
            <div class="card-header project__card-header">
              주만석님이 최근 등록한 문서
            </div>
            <div class="card-body ">
              <table class="table table-striped table-bordered table-hover text-center" id="myTable1">
                <thead>
                  <tr>
                    <th>사이트</th>
                    <th>제품명</th>
                    <th>프로젝트 명</th>
                    <th>문서명</th>
                    <th>종류</th>
                  </tr>
                </thead>
                <tr>
                  <td>해병대</td>
                  <td>GPI</td>
                  <td>DMHS</td>
                  <td>12월 정기점검</td>
                  <td>정기점검</td>
                </tr>
                <tr>
                  <td>해병대</td>
                  <td>GPI</td>
                  <td>DMHS</td>
                  <td>12월 정기점검</td>
                  <td>정기점검</td>
                </tr>
                <tr>
                  <td>해병대</td>
                  <td>GPI</td>
                  <td>DMHS</td>
                  <td>12월 정기점검</td>
                  <td>정기점검</td>
                </tr>
              </table>
            </div>
          </div>
        </div>

        <div class="content__project col-md-6 project__card">
          <div class="card">
            <div class="card-header project__card-header">
              최근 등록된 문서
            </div>
            <div class="card-body">
              <table class="table table-striped table-bordered table-hover text-center" id="myTable2">
                <thead>
                  <tr>
                    <th>사이트</th>
                    <th>제품명</th>
                    <th>프로젝트 명</th>
                    <th>문서명</th>
                    <th>종류</th>
                    <th>등록일</th>
                  </tr>
                </thead>
                <tr>
                  <td>해병대</td>
                  <td>GPI</td>
                  <td>DMHS</td>
                  <td>12월 정기점검</td>
                  <td>정기점검</td>
                  <td>2020-01-01</td>
                </tr>
                <tr>
                  <td>해병대</td>
                  <td>GPI</td>
                  <td>DMHS</td>
                  <td>12월 정기점검</td>
                  <td>정기점검</td>
                  <td>2020-01-01</td>
                </tr>
                <tr>
                  <td>해병대</td>
                  <td>GPI</td>
                  <td>DMHS</td>
                  <td>12월 정기점검</td>
                  <td>정기점검</td>
                  <td>2020-01-01</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %} {% block title %} 문서 현황 {% endblock %}
{% block css %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
{% endblock %}
{% block js%}
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script src="{% static 'js/datatable/dataTable.js' %}"></script>
{% endblock %}