.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid grey;
  margin-bottom: 50px;
}

.header__logo img {
  width: 150px;
}

.header__icon img {
  width: 35px;
}

.header__menus {
  width: 100%;
}

.menu-bar {
  width: 100%;
  overflow: hidden;
}
