.profile {
  display: flex;
  align-items: center;
  margin-right: 10px;
  color: #f8f9fa;
}

.profile-link {
  margin-right: 10px;
}

.bar {
  margin-bottom: 30px;
}

.dropdown:hover {
  background-color: grey;
}

.navbar-nav {
  font-size: 14px;
}

.btn-outline-light {
  font-size: 14px !important;
  padding: 3px 10px !important;
}

.divier__none .dropdown-menu .inner .inner li:first-child {
  display: none;
}
