@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap");

.file-upload input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.file-upload label {
  padding: 0.5em 0.75em;
  color: #fff;
  font-size: inherit;

  cursor: pointer;
  border: 1px solid #2e6da4;
  border-radius: 0.25em;
  background-color: #337ab7;
  border-color: #2e6da4;
  margin-bottom: 0;
  margin-right: 50px;
}

.file-upload .upload-name {
  padding: 0.5em 0.75em;
  font-size: inherit;
  font-family: inherit;
  background-color: #f5f5f5;
  border: 1px solid #a8a8a8;
  border-radius: 0.25em;
}

.file-upload .btn-outline-primary {
  padding: 0.5em 0.75em;
  font-size: inherit;
  vertical-align: top;
}

.media .fa-exclamation {
  color: #e2574c;
  border: 4px solid #e2574c;
  padding: 10px 20px;
  border-radius: 80%;
  font-size: 30px;
  margin-right: 10px;
}

.media-body h4 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 13px;
  margin-left: 5px;
}

.media-body li {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 10px;
}

.media-body ul {
  margin-left: 35px;
}

.media-body li:nth-child(3) ul {
  margin-left: 15px;
  margin-top: 5px;
}

.media-body li:nth-child(3) ul li:not(:last-child) {
  margin-bottom: 0px;
}

.media-body li:nth-child(3) ul li:nth-child(2) {
  margin-bottom: 2px;
}
