.body__stock-info .card {
  margin-bottom: 30px;
}

.form-group .body__stock-info {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0px;
  width: 100%;
}

.body__stock-info .card {
  width: 49%;
}

.body__contents .contetns__header {
  margin-bottom: 0px;
}

.body__contents .card-header {
  font-size: 21px;
  font-weight: 700;
}

.contetns__header .header-title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 0px;
}

.contetns__header .header-button {
  display: inline-block;
  font-size: 15px;
  color: #636e72;
  font-weight: 700;
  cursor: pointer;
}

.stock-lists .stock-model {
  display: inline-flex;
  align-items: center;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}

.stock-lists .stock-status-lists {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.stock-status-lists #stock-status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stock-status__keep div:first-child {
  color: #3498db;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}

.stock-status__keep div:last-child {
  width: 40px;
  height: 40px;
  background-color: #3498db;
  color: white;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20%;
  cursor: pointer;
}

.stock-status__sold div:first-child {
  color: #20bf6b;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}

.stock-status__sold div:last-child {
  width: 40px;
  height: 40px;
  background-color: #20bf6b;
  color: white;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20%;
  cursor: pointer;
}

.stock-status__disposal div:first-child {
  color: #eb3b5a;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}

.stock-status__disposal div:last-child {
  width: 40px;
  height: 40px;
  background-color: #eb3b5a;
  color: white;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20%;
  cursor: pointer;
}

.stock-status__return div:first-child {
  color: #ff9f43;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}

.stock-status__return div:last-child {
  width: 40px;
  height: 40px;
  background-color: #ff9f43;
  color: white;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20%;
  cursor: pointer;
}

.stock-status__total div:first-child {
  color: #182c61;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}

.stock-status__total div:last-child {
  width: 40px;
  height: 40px;
  background-color: #182c61;
  color: white;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20%;
}

@media (min-width: 320px) and (max-width: 480px) {
  .body__stock-info .card {
    width: 100%;
  }
}

@media (min-width: 500px) {
  .body__stock-info .card {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .body__stock-info .card {
    width: 48%;
  }
}

@media (min-width: 992px) {
  .body__stock-info .card {
    width: 48%;
  }
}
