.body__stock-info .card {
  margin-bottom: 20px;
}

.form-group .body__stock-info {
  padding: 0px;
}

.stock-lists .stock-model {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
}
.stock-lists .stock-product-name {
  color: grey;
  font-size: 14px;
  font-weight: 700;
  margin-left: 5px;
  margin-top: 5px;
}

.stock-lists .stock-status-lists {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-right: 15px;
}

.stock-status-lists #stock-status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stock-status__keep div:first-child {
  color: #3498db;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}

.stock-status__keep div:last-child {
  width: 40px;
  height: 40px;
  background-color: #3498db;
  color: white;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20%;
  cursor: pointer;
}

.stock-status__sold div:first-child {
  color: #20bf6b;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}

.stock-status__sold div:last-child {
  width: 40px;
  height: 40px;
  background-color: #20bf6b;
  color: white;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20%;
  cursor: pointer;
}

.stock-status__disposal div:first-child {
  color: #eb3b5a;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}

.stock-status__disposal div:last-child {
  width: 40px;
  height: 40px;
  background-color: #eb3b5a;
  color: white;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20%;
  cursor: pointer;
}

.stock-status__return div:first-child {
  color: #ff9f43;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}

.stock-status__return div:last-child {
  width: 40px;
  height: 40px;
  background-color: #ff9f43;
  color: white;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20%;
  cursor: pointer;
}
