.form-group .stock-contents {
  border: 0px;
}

.stock-contents .stock-lists {
  padding: 0px;
}

.stock-lists .stock-status-lists {
  width: 150px;
}

.form-check {
  display: flex;
  justify-content: center;
  transform: scale(1.2);
  height: 0px;
  width: 0px;
}

.form-group .stock-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  width: 100%;
}

.stock-form .multi-form {
  margin-bottom: 0px;
  height: 100%;
}

.multi-form button {
  padding: 3px 7px;
  font-size: 16px;
  margin-left: 2px;
}

.form-check-input {
  position: relative;
  margin-left: 0px;
  cursor: pointer;
}

.td-checkBox,
.th-checkBox {
  text-align: center;
  cursor: pointer;
}

.media i {
  margin-right: 30px;
  font-size: 28px;
}

.media-body ul {
  margin-left: 20px;
  padding-left: 10px;
  list-style-type: circle;
}

.media-body h5 {
  margin-bottom: 18px;
}

.collapsing .card-body,
.collapse .card-body {
  padding: 0px;
}

.collapsing .card-body ul,
.collapse .card-body ul {
  margin-left: 0px;
  padding-left: 0px;
}

.card-header .card-link {
  padding-right: 5px;
}

.list-group-item .badge-danger {
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 452px) {
  .stock-lists .stock-status-lists {
    margin-bottom: 10px;
  }
}

@media (min-width: 500px) {
  .body__stock-info .card {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .body__stock-info .card {
    width: 48%;
  }
}

@media (min-width: 992px) {
  .body__stock-info .card {
    width: 33%;
  }
}
