.form-check {
  display: flex;
  justify-content: center;
  transform: scale(1.2);
  height: 0px;
  width: 0px;
}

.form-group .mulit-form {
  display: flex;
  justify-content: flex-end;
}

.mulit-form button {
  padding: 3px 7px;
  font-size: 16px;
  margin-left: 2px;
}

.form-check-input {
  position: relative;
  margin-left: 0px;
  cursor: pointer;
}

.td-checkBox {
  text-align: center;
  cursor: pointer;
}

#blankCheckbox {
  position: relative;
}

.media i {
  margin-right: 30px;
  font-size: 28px;
}

.media-body ul {
  margin-left: 20px;
  padding-left: 10px;
  list-style-type: circle;
}

.media-body h5 {
  margin-bottom: 18px;
}

.collapsing .card-body,
.collapse .card-body {
  padding: 0px;
}

.collapsing .card-body ul,
.collapse .card-body ul {
  margin-left: 0px;
  padding-left: 0px;
}

.card-header .card-link {
  padding-right: 5px;
}

.list-group-item .badge-danger {
  cursor: pointer;
}

.card-header .card-title {
  margin-right: 2px;
}

.card-header .total-count {
  display: inline-block;
  font-weight: 700;
  color: white;
  padding: 1px 5px;
  border-radius: 20%;
  font-size: 13px;
  background-color: #007bff;
}
