.form-group .stock-contents {
  width: 200px;
}

.stock-contents .stock-lists {
  padding-top: 7px;
  padding-bottom: 7px;
}

.form-group .stock-form {
  display: flex;
  justify-content: flex-end;
}

.stock-lists .stock-status-lists {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.stock-lists h5 {
  margin-bottom: 5px;
}

.stock-status-lists #stock-status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stock-status__keep div:first-child {
  color: #3498db;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}

.stock-status__keep div:last-child {
  width: 40px;
  height: 40px;
  background-color: #3498db;
  color: white;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20%;
  cursor: pointer;
}

.stock-status__sold div:first-child {
  color: #20bf6b;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}

.stock-status__sold div:last-child {
  width: 40px;
  height: 40px;
  background-color: #20bf6b;
  color: white;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20%;
  cursor: pointer;
}

.stock-status__disposal div:first-child {
  color: #eb3b5a;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}

.stock-status__disposal div:last-child {
  width: 40px;
  height: 40px;
  background-color: #eb3b5a;
  color: white;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20%;
  cursor: pointer;
}

.stock-status__return div:first-child {
  color: #ff9f43;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}

.stock-status__return div:last-child {
  width: 40px;
  height: 40px;
  background-color: #ff9f43;
  color: white;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20%;
  cursor: pointer;
}
